<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>MTG Tower</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <!-- Scripts  -->
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">MTG Tower</a>
    </div>
  </nav>

  <div class="section no-pad-bot">
    <div class="container">

      <!--   Icon Section   -->
      <div class="row center">
        <div class="col s2 offset-s5">
          <div class="card">
            <div class="card-image">
              <img src="/images/Nicol-Bolas-the-Arisen.jpg">
              <span class="card-title">Player 3</span>
            </div>
            <div class="card-action grey darken-2">
              <a href="#" class="player-select btn waves-effect waves-light orange disabled">Select</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row center">
        <div class="col s2 offset-s2">
          <div class="card">
            <div class="card-image">
              <img src="/images/Mulrotha-the-Gravetide.jpg">
              <span class="card-title">Player 2</span>
            </div>
            <div class="card-action grey darken-2">
              <a href="#" class="player-select btn waves-effect waves-light orange disabled">Select</a>
            </div>
          </div>
        </div>

        <div class="col s4">
          <div class="row center">
            <div id="setDysplayName" class="input-field col s12">
              <input id="dysplayName" type="text" class="validate">
              <label for="dysplayName" class="black-text">Dysplay Name</label>
              <a class="waves-effect waves-light btn">Set</a>
            </div>
          </div>
          <div class="row center">
            <a class="waves-effect waves-light btn-large disabled">Start</a>
          </div>
        </div>

	<div class="col s2">
          <div class="card">
            <div class="card-image">
              <img src="/images/Adorable-Kitten.jpg">
              <span class="card-title">Player 4</span>
            </div>
            <div class="card-action grey darken-2">
              <a href="#" class="player-select btn waves-effect waves-light orange disabled">Select</a>
            </div>
          </div>
        </div>
      </div>
 
      <div class="row center">
        <div class="col s2 offset-s5">
          <div class="card">
            <div class="card-image">
              <img src="/images/Weatherlight.jpg">
              <span class="card-title">Player 1</span>
            </div>
            <div class="card-action grey darken-2">
              <a href="#" class="player-select btn waves-effect waves-light orange disabled">Select</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Last Word</h5>
          <p class="grey-text text-lighten-4">Someday, someone will best me. But it won't be today, and it won't be you.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script>
    var socket = io();
  </script>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/javascripts/materialize.js"></script>
  <script src="/javascripts/init.js"></script>
  <script src="/javascripts/loginLogout.js"></script>

  </body>
</html>
